body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.org{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half{
    width: 50%;
    padding-left: 5%;
}
.half img{
    width: 80%;
}
.link{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 35px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.banner{
    background-image: url(banner/top-banner.png);
    background-repeat: no-repeat; 
}
.dream{
    background-image: url(banner/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
